/* Styles/NavBar.css */
.nav-container {
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between items */
}

.nav-link {
    text-decoration: none;
    color: white; /* Adjust link color */
    padding: 10px;
    display: block;
}
