/* Add to existing ProductPage.css */

.product-details {
    margin-top: 1rem;
  }
  
  .product-description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .product-quantity,
  .product-price,
  .product-brand,
  .product-availability,
  .product-camera-specs {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }
  .product-film-specs {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }
  
  .product-availability {
    font-weight: bold;
    color: #4CAF50; /* Green for in stock */
  }
  
  .product-availability.out-of-stock {
    color: #E53935; /* Red for out of stock */
  }
  
  /* Styles for the Title Image */
  .product-main-image {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Adjust as needed */
  }
  
  /* Styles for the Additional Images */
  .product-additional-image {
    max-width: 100%; /* Ensures the image is not larger than its container */
    height: auto; /* Maintains the aspect ratio of the image */
    max-height: 200px; /* Adjust this value as needed */
    margin-top: 10px;
  }
  
  /* Continue to style other elements and add responsive design as needed */
  