/* Styles/Registration.css */
.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use full height to center vertically */
  }
  
  .registration-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 300px; /* Adjust as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .register-button {
    padding: 10px;
    background-color: #f0c14b; /* Example color */
    color: #131921;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }
  